body,
html {
    margin: 0;
    height: 100%;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    line-height: 1.3;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333030;
}

a {
    text-decoration: none;
    color: white;
}

img {
    width: 100%;
    height: auto;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

ul,
li {
    list-style: none;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-13 {
    font-size: 13px;
}

.font-size-20 {
    font-size: 20px;
}

.bold {
    font-weight: bold;
}

.width-50 {
    width: 50%;
}

.width-70 {
    width: 70%;
}